<html>
<title>ITI Invoice browser with largest total</title>
<script>
</script>
<body>
<center>Largest invoice id : <TMPL_VAR NAME=f_invid> </center>
<table width=100%>
    <tr>
        <td width=10%>
        Customer name
        </td>
        <td width=20%>
            <TMPL_VAR NAME=f_custname>
        </td>
    </tr>

        <tr>
        <td width=10%>
        Invoice Total
        </td>
        <td width=20%>
            <TMPL_VAR NAME=f_invtotal>
        </td>
        
    </tr>
  </table>
</body>
</html>
